@{
    ViewBag.Title = "HeilHome";
}

<h2>Heil Home</h2>
<br />
<p>
    <h4><u>Heil Reports</u></h4>
    <br />

    @Html.ActionLink("Qoh TX", "HeilQoh", "CustomerOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("In Transit", "RoHeilTransit", "HeilPoes", null, null)
    <br />
    <br />
    @Html.ActionLink("Ship Out History", "HeilShipOut", "HeilShips", null, null)
    <br />
    <br />

</p>