
@{
    ViewBag.Title = "ExpFreightHome";
}

<h2>Exp Freight Home</h2>

<p>
    @Html.ActionLink("Go Back", "Index", "ShipIns", null, null)
</p>

<br />
<p>
    <h4><u>Expedited Freight Reports</u></h4>
    <br />

    @Html.ActionLink("Expedited Freight", "Index", "ExpeditedFreights", null, null)
    <br />
    <br />
    @Html.ActionLink("Exp Freight Details", "Index", "ExpFreightDetails", null, null)
    <br />
    <br />
    @*-> @Html.ActionLink("PFEP Cylinders", "Ops")
        <br />
        <br />*@

</p>