
@{
    ViewBag.Title = "ExtPortal";
}

<h2>Extreme Portal</h2>

<h4><u>Sales</u></h4>
<br />
@Html.ActionLink("Open Orders", "", "ShipPlanFs", null, null)
<br />
<br />
@Html.ActionLink("Bayne", "BayneStatus")
<br />
<br />
@Html.ActionLink("Chassisliner", "ClStatus")
<br />
<br />